*.asm linguist-language=Assembly
*.inc linguist-language=Assembly
*.md linguist-language=Markdown
*.py linguist-language=Python

*/Documentation linguist-documentation
*.md linguist-documentation
timing_table.inc linguist-generated=true
